.videochat {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding-top: 70px;

    &-chat {
        flex: 1 1 0;
        max-width: 400px;
        min-height: 100%;
        max-height: 93vh;
        background-color: var(--color-chat-bg);
        display: flex;
        flex-direction: column;

        .history {
            margin-top: auto;
            padding: 8px;
            max-height: 100%;
            overflow-y: auto;
        }

        .user-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 8px;
            justify-content: space-between;
            background-color: var(--color-chat-message);
            padding: 10px;
            border-radius: 10px;
            gap: 8px;

            label {
                flex: 1 1 0;
                height: 100%;
                max-height: 40px;

                textarea {
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                    border: none;
                    resize: none;
                    overflow-y: hidden;
                    background-color: transparent;
                    padding: 10px 5px;

                    &:focus-visible {
                        outline: none;
                        border: 1px solid white;
                        background-color: white;
                        border-radius: 25px;
                    }
                }
            }
        }
    }

    &-window {
        flex: 1 1 auto;
        position: relative;
        // background-color: var(--color-blue-dark);

        .main-window {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: var(--color-blue-dark);
            background-size: cover;
            aspect-ratio: 4 / 3;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            display: flex;
            align-items: center;
        }

        .mirror {
            width: 20%;
            height: 20%;
            position: absolute;
            display: flex;
            align-items: center;
            right: 10px;
            top: 10px;
            border-radius: 10px;
            background-color: var(--color-chat-message);
            // background-image: url(./preview/irina_manager.jpg);
            background-size: cover;
            aspect-ratio: 4 / 3;
            background-repeat: no-repeat;
            overflow: hidden;
        }

        .mirror,
        .main-window {
            video {
                background-size: cover;
                width: 100%;
                aspect-ratio: 4 / 3;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }


        .videoChatBar {
            background-color: var(--color-blue-dark);
            width: 100%;
            padding: 10px 42px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0px;
            left: 0px;

            &>.buttons {
                display: flex;
                gap: 8px;
            }

            &>.progress {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: fit-content;
                max-width: 400px;
                background-color: var(--color-green);
                border-radius: 20px;
                padding-left: 12px;
                gap: 120px;

                &>p {
                    margin: 0;
                    color: white;
                    padding: 4px;

                    &.time {
                        background-color: var(--color-green-dark);
                        padding: 4px 16px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

.message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--color-chat-message);
    width: fit-content;
    max-width: 80%;

    &.user1 {
        border-bottom-left-radius: 0px;
    }

    &.user2 {
        border-bottom-right-radius: 0px;
        margin-left: auto;

        &>p {
            text-align: end;
        }
    }

    &>p {
        margin: 0;
        white-space: pre;
    }

    .timestamp {
        color: white;
        font-size: 13px;
    }
}