* {
    box-sizing: border-box;
    // outline: 1px solid lightgray;
}

:root {
    --color-green: #26b36c;
    --color-blue-dark: #072138;
    --color-green-dark: #0E3635;
    --color-chat-bg: #E6ECF6;
    --color-chat-message: #CCD8EA;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#app {
    min-height: 100vh;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    min-height: 40px;
    min-width: 40px;
    gap: 10px;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 25px;
    }
}

.button {
    &-icon {
        height: 40px;
        width: 40px;
    }
}

// .container {}

dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #07213850;
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &.active {
        display: block;
        opacity: 1;
    }

    .modal-content {
        background-color: white;
        border-radius: 15px;
        width: fit-content;
        height: fit-content;
        max-height: 90vh;
        min-width: 350px;
        max-width: 90vw;
        position: absolute;
        padding: 10px 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                width: 100%;
                border: 1px solid var(--color-chat-message);
                padding: 5px 10px;
                border-radius: 25px;
                background-color: var(--color-chat-bg);
                position: relative;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                }

                &:has(input:focus-visible) {
                    border-color: var(--color-blue-dark);
                }

                &:has(input:required) {
                    &::after {
                        content: '*';
                        color: orange;
                        position: absolute;
                        top: 2px;
                        left: 4px;
                        font-size: 14px;
                    }
                }

                &:has(input:valid) {
                    &::after {
                        display: none;
                    }
                }

                .show-password {
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translateY(-50%);
                    min-width: 30px;
                    min-height: 30px;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .close-modal {
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        top: 10px;

        &:hover {
            cursor: pointer;
            background-color: rgb(255, 224, 224);
            transform: rotate(10deg);
        }
    }
}

.media-choose-area {
    width: 100%;
    min-width: 300px;
    border-radius: 15px;
    border: 1px dashed var(--color-green);
    color: var(--color-green);
    background-color: #26b36c21;
    padding: 20px;
    height: fit-content;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.drag-over {
        border-style: dotted;
        background-color: #26b36c09;
        cursor: move;
    }

    &:-moz-drag-over {
        border-style: dotted;
    }
}


// INLINE STYLES

.ml-auto {
    margin-left: auto;
}

.mt-20 {
    margin-top: 20px;
}